<div class="notifications">
    <mat-card class="mx-auto">
        <h2>Notifications</h2>
        <p>Done with bootstrap and angular material</p>
    </mat-card>
    <mat-card>
        <div class="content">
            <div class="not_styles">
                <h2>Notification Style</h2>
                <div class="alert alert-light" role="alert">
                    This is plain notification
                </div>
                <div class="alert alert-dismissible" role="alert">
                    <span>This is notification with close btn</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert d-flex align-items-center" role="alert">
                    <mat-icon>add_alert</mat-icon>
                    <div class="ms-3">
                      This is notification with close button and icon
                    </div>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert d-flex align-items-center" role="alert">
                    <mat-icon>add_alert</mat-icon>
                    <div class="ms-3">
                        This is a notification with close button and icon and have many lines. <br> You can see that the icon and the close button are always vertically <br> aligned. This is a beautiful notification. So you don't have to worry about <br>the style.
                    </div>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="not_states">
                <h2>Notification States</h2>
                <div class="alert alert-dismissible" role="alert">
                    <span><b>Info-</b> This is notification made with ".alert-info"</span>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-dismissible" role="alert">
                    <span><b>Success-</b> This is notification made with ".alert-success"</span>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-dismissible" role="alert">
                    <span><b>Warning-</b> This is notification made with ".alert-warning"</span>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-dismissible" role="alert">
                    <span><b>Danger-</b> This is notification made with ".alert-danger"</span>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-dismissible" role="alert">
                    <span><b>Primary-</b> This is notification made with ".alert-primary"</span>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="not-btns mt-2">
            <h2>Notification Places</h2>
            <p>Click to view notifications</p>
            <div class="btn_row_1">
                <button>TOP LEFT</button>
                <button>TOP CENTER</button>
                <button>TOP RIGHT</button>
            </div>
            <div class="btn_row_2">
                <button>BOTTOM LEFT</button>
                <button>BOTTOM CENTER</button>
                <button>BOTTOM RIGHT</button>
            </div>
        </div>
    </mat-card>

</div>
