<div class="content">
    <h2>Custom Dashboard</h2>
</div>

<mat-divider></mat-divider>
<mat-nav-list class="side_bar">
      <a mat-list-item routerLink="" routerLinkActive="active"> <mat-icon class="me-2">dashboard</mat-icon>Dashboard</a>
      <a mat-list-item routerLink="/user-profile" routerLinkActive="active" ><mat-icon class="me-2">person</mat-icon>User Profile</a>
      <a mat-list-item routerLink="/table-list" routerLinkActive="active"><mat-icon class="me-2">list_alt</mat-icon>Table List</a>
      <a mat-list-item routerLink="/typography" routerLinkActive="active"><mat-icon class="me-2">library_books</mat-icon>Typography</a>
      <a mat-list-item routerLink="/icons" routerLinkActive="active"><mat-icon class="me-2">flare</mat-icon>Icons</a>
      <a mat-list-item routerLink="/maps" routerLinkActive="active"><mat-icon class="me-2"> pin_drop</mat-icon>Maps</a>
      <a mat-list-item routerLink="/notification" routerLinkActive="active"><mat-icon class="me-2">notifications</mat-icon>Notifications</a>
</mat-nav-list>
