.table1{
    width: 100%;
    height: auto;
    position: relative;
}
mat-card{
    background-color: rgb(248, 101, 101);
    color: azure;
    width: 95%;
    line-height: 5px;
}
table {
    width: 100%;
  }

th{
    font-size: 1.2rem;
}
tr{
    font-size: 0.9rem;
}
.table2 .mat-column-Id,.table2 .mat-column-Name,.table2 .mat-column-Country,.table2 .mat-column-City,.table2 .mat-column-Salary{
    background-color: rgb(212, 208, 208);
}